# Data Science Tools and Ecosystem
### Author: Lakshmi Holla and Niveditha Pandith
Sam Mazzuca

In this notebook, Data Science Tools and Ecosystmes are summarized
## Objectives
- **Jupyter Notebook:** Get started with the fundamentals of Jupyter Notebook and practice in this widely used open source application

- **Matplotlib:** Learn to make data visualizationsa with this source through Python

- **Pandas:** Manipulate data use Pandas extensive libraries right in front of you with no downloads neccesary

Some of the popular languanges that data Scientists use are:
1. Python
2. R
3. C++
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Plotly
4. Matplotlib
5. Seaborn

Data Science Tools 
1. Apache Spark
2. R Studio
3. Tensor Flow

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours= minutes / 60
print(hours)

3.3333333333333335